'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'Markdown Mindmap'
    'submenu': [
      'label': 'Toggle Mindmap view'
      'command': 'markdown-mindmap:toggle'
    ]
  ]
]

'context-menu':
  '.markdown-mindmap': [
    {label: 'Copy As SVG', command: 'core:copy'}
    {label: 'Save As SVG\u2026', command: 'core:save-as'}
  ]
  '.tree-view .file .name[data-name$=\\.markdown]':
    [{label: 'Markdown Mindmap', command:  'markdown-mindmap:preview-file'}]
  '.tree-view .file .name[data-name$=\\.md]':
    [{label: 'Markdown Mindmap', command:  'markdown-mindmap:preview-file'}]
  '.tree-view .file .name[data-name$=\\.mdown]':
    [{label: 'Markdown Mindmap', command:  'markdown-mindmap:preview-file'}]
  '.tree-view .file .name[data-name$=\\.mkd]':
    [{label: 'Markdown Mindmap', command:  'markdown-mindmap:preview-file'}]
  '.tree-view .file .name[data-name$=\\.mkdown]':
    [{label: 'Markdown Mindmap', command:  'markdown-mindmap:preview-file'}]
  '.tree-view .file .name[data-name$=\\.ron]':
    [{label: 'Markdown Mindmap', command:  'markdown-mindmap:preview-file'}]
  '.tree-view .file .name[data-name$=\\.txt]':
    [{label: 'Markdown Mindmap', command:  'markdown-mindmap:preview-file'}]
